/* sidebar Nav */
.navBar {
  position: relative;

}

.navBar button {
  position: fixed;
  
  top: 0;
  z-index: 10;
  cursor: pointer;
  background: transparent;;
  border: none;
}

.menuNav {

  overflow-y: scroll;
  list-style: none;
  position: fixed;
  top: 0;
  
  left: 0;
  bottom: 0;
  height: 17vh;
  width: 0;
  overflow: hidden;
  max-width: 290px;
  z-index: 9;
}

.menuNav.showMenu {
  background: rgba(86, 68, 226, 0.5);
  width: 50%;
}

#a{
  display: block;
  padding: 10px 40px;
  text-decoration: none;
  color: navy;
  text-transform: uppercase;
  font-weight: bold;
}

.menuNav li:first-child {
  margin-top: 7rem;
}

#buttonBox{
    height: 30px;
   width: 100vw;
    background: whitesmoke;
    
   
}

@media (max-device-width:1024px) {
  #buttonBox{
      height: 100px;
  }
  
}

.ProfileButton {
  margin: 10px;
  background-color: orange;
  border-radius: 15px;
}

.HomeBlurb {
  display: flex;
  color: white;
  margin: 10px 0px 10px 15px;
  height: auto;
  width: auto;
  backdrop-filter: blur(5px);
  border-radius: 15px;
}

.ButtonContainer {
  border-radius: 15px;
}

.ButtonGroup {
  margin: auto;
  justify-content: center;
  align-content: center;
  align-self: center;
  width: auto;
  /* border-radius: 8px; */
  flex-direction: row;
  display: flex;
}

.card {
  background: navy;
  display: inline-block;
  margin: 10px;
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #333;
  width: 200px;
  padding: 20px;
  border-radius: 8px;
}

.HomePageTitle {
  background-color: aquamarine;
  background: violet;
}

.QuizLink {
  background-color: rgb(21, 15, 63);
  margin-top: 15px;
  margin-bottom: 15px;
  width: 80%;
  justify-self: center;
  border-radius: 15px;
}

.QuizButton {
  background-color: rgb(21, 15, 63);
  width: 100%;
  height: 100%;
  justify-self: center;
}