#logBody{

  height: 100vh
}

#login-title{
display: flex;
justify-content: center;
padding-top: 5%;
font-size: 100px;
font-weight: bold;
background: -webkit-linear-gradient( #000 15%, #3a3737 51%, #fff 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-left: auto;
margin-right: auto;

margin-bottom: 2%;
}



.logBtn:hover{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 8px 10px 12px;
}

#login-Container{
  display: flex;
  flex-direction: column;
 

}

.log-RegText{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  border: 2px solid ;
  padding: 10px;
  box-shadow: 0 15px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.regLink{
  text-decoration: none;
}

.icon-container {
 
  margin-top: 11px;
}

.icon-container img{
  height: 50px;
  width: 50px;  
}

#icon {
  background: white;
  border-radius: 2px;
  display: inline-block;
  margin: 5%;
  height: 44px;
}
.log-Btn{
 
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-image: linear-gradient(to right, #000 0%, #808080 51%, #fff 100%);
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.5s;
    background-size: 200% auto;
    color: #FFF;
    box-shadow: 0 0 20px #eee;
    
    width: 200px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    display: inline-block;
}


#google-btn{
  display: flex;
  color: white;
  background-color: #cb4024;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  height: 50px;
 
  margin-top: 60px;
  
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  transition: all ease-in-out .6s;
  text-decoration: none;
}

#google-btn:hover {
  transform: translateY(-10px);
}

#instagram-btn{
  display: flex;
  color: white;
  background-size: 200%auto;  
  background-image: linear-gradient(to right,#6559ca 5%, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  border-radius: 10px;
   width: 30%;
  margin-left: auto;
  margin-right: auto;
 
  height: 50px;
  margin-top: 10px;
  
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  
  transition: all ease-in-out .6s;
  text-decoration: none;
}


#instagram-btn:hover {
  transform: translateY(-10px);
}

#facebook-btn{
  display: flex;
  color: white;
  background-color: #4168bb;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  height: 50px;
  margin-top: 10px;
 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  transition: all ease-in-out .6s;
  text-decoration: none;
}


#facebook-btn:hover {
  transform: translateY(-10px);
}

#github-btn{
  display: flex;
  color: white;
  background-color: black;
  width:30%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 10px;
  
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  transition: all ease-in-out .6s;
  text-decoration: none;
}


#github-btn:hover {
  transform: translateY(-10px);
}

#leaderboardSliderImage {
  max-width: 10%;
}


/* Navigation Bar settings follow. */

.navBar{
  height: auto;
  width: 100%;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  margin-bottom: 5%;
  background: #3276ad;

}

/* sidebar Nav */
.navBarSidebar {
  position: relative;

}

.navBar button {
  /* position: fixed; */
  
  top: 0;
  z-index: 10;
  cursor: pointer;
  background: transparent;;
  border: none;
}

.menuNav {

  overflow-y: scroll;
  list-style: none;
  position: fixed;
  top: 0;
  
  left: 0;
  bottom: 0;
  height: 17vh;
  width: 0;
  overflow: hidden;
  max-width: 290px;
  z-index: 9;
}

.menuNav.showMenu {
  background: rgba(64, 87, 163, 0.555);
  width: auto;
  height: min-content;
  border-radius: 8px;
}
.message{
  text-align: center;
  font-size: x-large;
  color:red
}
#a{
  display: block;
  padding: 10px 40px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
#logout-btn{
  margin-left: 5%;
}
.menuNav li:first-child {
  margin-top: 7rem;
}

#logotype {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  align-self: center;
  
}
/* Navigation bar settings end. */

.quizQuestion {
  background: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px);
  color: silver;
  flex-direction: row;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  opacity: 1;
  border: 2px solid silver;
  width: 100%;
  padding: 10px;
  minWidth: 325px;
  border-radius: 8px;
}

/* Media queries. */
@media (max-device-width:1024px) {
  #buttonBox{
      height: 50px;
  }
}

.ProfileButton {
  margin: 10px;
  background-color: orange;
  border-radius: 15px;
}

.HomeBlurb {
  display: flex;
  color: white;
  margin: 10px 0px 10px 15px;
  height: auto;
  width: auto;
  backdrop-filter: blur(5px);
  border-radius: 15px;
}
  
#message{
  text-align: center;
  color: silver;
  font-size: 25px;
}

#google{
  display: flex;
    align-items: center;
    padding-left: 30px;
}

#instagram{
  display: flex;
    align-items: center;
    padding-left: 30px;
}

#facebook{
  display: flex;
    align-items: center;
    padding-left: 30px;
}

#github{
  display: flex;
    align-items: center;
    padding-left: 30px;
}

.ButtonContainer {
  border-radius: 15px;
}

.ButtonGroup {
  margin: auto;
  justify-content: center;
  align-content: center;
  align-self: center;
  width: auto;
  flex-direction: row;
  display: flex;
	margin-bottom: '15px';
}

.QuizLink {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 80%;
  justify-self: center;
  border-radius: 15px;
}

.QuizButton {
  width: 100%;
  height: 100%;
  justify-self: center;
}

/*************PROFILE PAGE****************/

#top-container{

  display: flex;
 
}

#top-container{
  /* display:flex; */
  justify-content: left;
  height: fit-content;
}

#hamburger{
  
  margin-left: 5px;
  
}

#bottom-container{
  height: 100%;
}

#myavatar{
  
    margin: 2px;
}

#avatar{
  background: white;
  border-radius: 2px;
  display: inline-block;
  margin-left: 5%;
  margin-bottom: 2%;
  border:solid;
  width: 22%;
 
}

#profile-container{
  padding:10px;
  margin-top:55px;
  height: auto;
}

#info-container{
color:whitesmoke;
margin-left: 5%;
}

#leaderboard-container{
  margin-top: 100px;
}

#top-ten{
  background: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px);
  color: silver;
  flex-direction: row;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  opacity: 1;
  border: 2px solid silver;
  width: 90%;
  padding: 10px;
  minWidth: 325px;
  border-radius: 8px;
}



/*************REGISTRATION PAGE****************/

#register-container{
  display: flex;
  flex-direction: column;
 text-align: center;
 height: 100vh;
 padding-top: 15%;
}

.logLink{
  text-decoration: none;
  margin-top: 20px;
  font-size: x-large;
}

/***********Leaderboard***********/
#leaderboard-body{
  height:100vh;
  
}
#carousel-caption{
  color:blue;
  
}
#leaderboard-title{
  color:white;
  font-size: 50px;
  text-align: center;
  margin-top:5vh;
  margin-bottom: 10vh;
}

/*********** from 0px - 284px ***********/

@media only screen  and (max-device-width : 284px){
  #login-title{
    padding-top: 12%;
    margin-bottom: 5%;
    font-size: 40px;
    }
    
  }

@media only screen  and (min-device-width : 285px) and (max-device-width : 320px){
  #login-title{
    margin-bottom: 8%;
    width: 75%;
    }
    #logBody{
      padding-top: 0%;
    }
    
    .log-RegText {
      width: 85%;
      height: 8%;
      font-size: 20px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 15px;
      border: 2px solid;
      padding: 10px;
     
    }
    .log-Btn {
      height: 50px;
      width: 55%;
      font-size: 20px;
      
     
      border-radius: 10px;
     
      }   
      #google-btn{
        height: 50px;
        width:70%;
        margin-top: 2%;
        margin-bottom: 12px;
        border-radius: 10px;
        font-size: 14px;
      }
      
      #instagram-btn{
        height: 50px;
        width:70%;
        
        margin-bottom: 12px;
        border-radius: 10px;
        font-size: 14px;
      }
      
      #facebook-btn{
        height: 50px;
        width:70%;
       
        margin-bottom: 12px;
        border-radius: 10px;
        font-size: 13px;
      }
      
      #github-btn{
        height: 50px;
        width:70%;
       
        margin-bottom: 12px;
        border-radius: 10px;
        font-size: 14px;
      }
      .regLink{
        font-size: 25px;
        color: white;
       
      }
  
  
}
@media only screen and (min-device-width : 321px) and (max-device-width : 359px){
  #login-title{
    padding-top: 2%;
    margin-bottom: 5%;
    }
}

@media only screen and (min-device-width : 360px) and (max-device-width : 410px) {
  #login-title{
    margin-bottom: 5%;
    width: 75%;
    }
    #logBody{
      padding-top: 3%;
    }
    
    .log-RegText {
      width: 85%;
      height: 11%;
      font-size: 20px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 15px;
      border: 2px solid;
      padding: 10px;
     
    }
    .log-Btn {
      height: 50px;
      width: 55%;
      font-size: 20px;
      
      margin-top: 3%;
      border-radius: 10px;
     
      }   
      #google-btn{
        height: 50px;
        width:70%;
        margin-top: 7%;
        margin-bottom: 12px;
        border-radius: 10px;
        font-size: 18px;
      }
      
      #instagram-btn{
        height: 50px;
        width:70%;
        
        margin-bottom: 12px;
        border-radius: 10px;
        font-size: 18px;
      }
      
      #facebook-btn{
        height: 50px;
        width:70%;
       
        margin-bottom: 12px;
        border-radius: 10px;
        font-size: 18px;
      }
      
      #github-btn{
        height: 50px;
        width:70%;
       
        margin-bottom: 12px;
        border-radius: 10px;
        font-size: 18px;
      }
      .regLink{
        font-size: 25px;
        color: white;
        margin-bottom: 10%;
      }
  
  
  
}

@media only screen and (min-device-width : 411px) and (max-device-width : 480px) {
  #login-title{
    margin-bottom: 5%;
    width: 85%;
    }
    #logBody{
      padding-top: 3%;
    }
    
    .log-RegText {
      width: 85%;
      height: 11%;
      font-size: 20px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 15px;
      border: 2px solid;
      padding: 10px;
     
    }
    .log-Btn {
      height: 50px;
      width: 55%;
      font-size: 20px;
      
      margin-top: 3%;
      border-radius: 10px;
     
      }   
      #google-btn{
        height: 50px;
        width:70%;
        margin-top: 7%;
        margin-bottom: 12px;
        border-radius: 10px;
        font-size: 18px;
      }
      
      #instagram-btn{
        height: 50px;
        width:70%;
        
        margin-bottom: 12px;
        border-radius: 10px;
        font-size: 18px;
      }
      
      #facebook-btn{
        height: 50px;
        width:70%;
       
        margin-bottom: 12px;
        border-radius: 10px;
        font-size: 18px;
      }
      
      #github-btn{
        height: 50px;
        width:70%;
       
        margin-bottom: 12px;
        border-radius: 10px;
        font-size: 18px;
      }
      .regLink{
        font-size: 25px;
        color: white;
        margin-bottom: 10%;
      }
  
}

@media only screen and (min-device-width : 481px) and (max-device-width : 768px) {
  #login-title{
    margin-bottom: 8%;
    width: 85%;
    }
    #logBody{
      padding-top: 3%;
    }
    
    .log-RegText {
      width: 75%;
      height: 11%;
      font-size: 20px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 15px;
      border: 2px solid;
      padding: 10px;
     
    }
    .log-Btn {
      height: 50px;
      width: 40%;
      font-size: 20px;
      
      margin-top: 3%;
      border-radius: 10px;
     
      }   
      #google-btn{
        height: 50px;
        width:50%;
        margin-top: 12%;
        margin-bottom: 12px;
        border-radius: 10px;
        font-size: 22px;
      }
      
      #instagram-btn{
        height: 50px;
        width:50%;
        margin-bottom: 12px;
        border-radius: 10px;
        font-size: 22px;
      }
      
      #facebook-btn{
        height: 50px;
        width:50%;
        margin-bottom: 12px;
        border-radius: 10px;
        font-size: 22px;
      }
      
      #github-btn{
        height: 50px;
        width:50%;
        margin-bottom: 12px;
        border-radius: 10px;
        font-size: 22px;
      }
      .regLink{
        font-size: 25px;
        color: white;
        margin-bottom: 10%;
      }
  

}

@media only screen and (min-device-width : 769px) and (max-device-width : 1023px) {

  #login-title{
    margin-bottom: 5%;
  
    padding-top: 15%;

    }
}


@media (min-device-width:1024px) and (max-device-width : 1279px){
  #login-title{
    font-size: 80px;
    margin-bottom: 11%;
    padding-top: 20%;
    width: 60%;
    }

  #google-btn{
       width:60%;
    }

  #instagram-btn{
      width:60%;
   }

  #facebook-btn{
    width:60%;
 }

  #github-btn{
  width:60%;
 }

 .log-RegText{
  width: 60%;
}

#register-container{
  
 padding-top: 5%;
}
    
    
}

@media only screen and (min-device-width:1280px) and (max-device-width:1439px){
  #logBody{
    padding-top: 15%;
  }
  
  #login-title{
    font-size: 80px;
    margin-bottom: 13%;
    padding-top: 2%;
    width: 65%;
    }

  #google-btn{
       width:60%;
    }

  #instagram-btn{
      width:60%;
   }

  #facebook-btn{
    width:60%;
 }

  #github-btn{
  width:60%;
 }

 .log-RegText{
  width: 60%;
}
}
@media only screen and (min-device-width:1440px) and (max-device-width:1720px){
  #logBody{
    padding-top: 5%;
  }
  #login-title{
    font-size:100px;
    padding-top: 0%;
    margin-bottom: 3%;
    width: 30%;
   
  }
  .log-RegText {
    width: 45%;
    height: 50px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    border: 2px solid;
    padding: 10px;
  }
  .log-Btn {
    height: 50px;
    width: 15%;
    font-size: 20px;
    
    margin-top: 10px;
    border-radius: 10px;
   
    }   
    #google-btn{
      height: 50px;
      width:25%;
      margin-top: 20px;
      margin-bottom: 30px;
      border-radius: 10px;
      font-size: 20px;
    }
    
    #instagram-btn{
      height: 50px;
      width:25%;
      
      margin-bottom: 30px;
      border-radius: 10px;
      font-size: 20px;
    }
    
    #facebook-btn{
      height: 50px;
      width:25%;
     
      margin-bottom: 30px;
      border-radius: 10px;
      font-size: 20px;
    }
    
    #github-btn{
      height: 50px;
      width:25%;
     
      margin-bottom: 30px;
      border-radius: 10px;
      font-size: 20px;
    }

}
@media only screen and (min-device-width:1721px) and (max-device-width:2000px){
  #logBody{
    padding-top: 5%;
  }
  #login-title{
    font-size:100px;
    padding-top: 0%;
    margin-bottom: 6%;
    width: 40%;
   
  }
  .log-RegText {
    width: 45%;
    height: 60px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    border: 2px solid;
    padding: 10px;
   
  }
  .log-Btn {
    height: 50px;
    width: 15%;
    font-size: 20px;
    
    margin-top: 3%;
    border-radius: 10px;
   
    }   
    #google-btn{
      height: 60px;
      width:25%;
      margin-top: 7%;
      margin-bottom: 30px;
      border-radius: 10px;
      font-size: 25px;
    }
    
    #instagram-btn{
      height: 60px;
      width:25%;
      
      margin-bottom: 30px;
      border-radius: 10px;
      font-size: 25px;
    }
    
    #facebook-btn{
      height: 60px;
      width:25%;
     
      margin-bottom: 30px;
      border-radius: 10px;
      font-size: 25px;
    }
    
    #github-btn{
      height: 60px;
      width:25%;
     
      margin-bottom: 30px;
      border-radius: 10px;
      font-size: 25px;
    }
    .regLink{
      font-size: 45px;
      color: white;
      margin-bottom: 10%;
    }


}

@media only screen and (min-device-width:2001px){
  .navBar{
    
    margin-bottom: 2%;
  
  }

 #login-title{
   font-size:100px;
   padding-top: 0%;
   margin-bottom: 3%;
   width: 35%;
  
 }
 #logBody{
   padding-top: 4%;
 }
  
 .log-RegText {
  width: 35%;
  height:75px;
  font-size: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  border: 2px solid;
  padding: 10px;
}
.log-Btn {
  height: 75px;
  width: 15%;
  font-size: 40px;
  margin-bottom:20px;
  margin-top: 70px;
  border-radius: 10px;
  }   

    
#register-container{
  padding-top: 10%;
  
}
.logLink{
  font-size: 53px;
}
#icon{
  height: 70px;
    width: 75px;
}
#google-btn{
  height: 75px;
  width:25%;
  margin-top: 100px;
  margin-bottom: 30px;
  border-radius: 10px;
}

#instagram-btn{
  height: 75px;
 width:25%;
 margin-bottom: 30px;
 border-radius: 10px;
}

#facebook-btn{
  height: 75px;
width:25%;
margin-bottom: 30px;
border-radius: 10px;
}

#github-btn{
  height: 75px;
width:25%;
margin-bottom: 30px;
border-radius: 10px;
}
#google{
  height: 75px;
  display: flex;
    align-items: center;
    padding-left: 30px;
    font-size: 40px;
}

#instagram{
  height: 75px;
  display: flex;
    align-items: center;
    padding-left: 30px;
    font-size: 40px;
}

#facebook{
  height: 75px;
  display: flex;
    align-items: center;
    padding-left: 30px;
    font-size: 40px;
}

#github{
  height: 75px;
  display: flex;
    align-items: center;
    padding-left: 30px;
    font-size: 40px;
}
.regLink{
  font-size: 55px;
  color: white;
  margin-bottom: 5%;
}


}

@media only screen and (min-device-height : 720px) and (max-device-height : 811px){
  #login-title{
    width: 70%;
    padding-top: 7%;
    margin-bottom: 15%;
    font-size: 60px;
    }
    #logBody{
      padding-top: 4%;
    }
  }

@media only screen and (min-device-height : 812px) and (max-device-height : 823px){
  #login-title{
    padding-top: 15%;
    margin-bottom: 10%;
    font-size: 60px;
    }
  }