#body {
  background-color: rgb(42, 42, 99);
  }

.ProfileBar {
  background-color: orange;
  width: 100px;
  border-radius: 8px;
}

.card {
  background: navy;
  display: inline-block;
  margin: 10px;
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #333;
  width: 200px;
  padding: 20px;
  border-radius: 8px;
};

.HomePage {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.HomePageTitle {
  background-color: aquamarine;
  background: violet;
};

.ButtonGroup {
  margin-bottom: 10px;
  background: steelblue;
  justify-content: center;
  align-content: center;
  align-self: center;
  width: 200px;
  border-radius: 8px;
  display: block;
}

.QuizButton {
  margin-bottom: 10;
  justify-self: center;
}